:root{
  /*=======Main theme colors=======*/
  --first-color: #0e2431;
  --second-color:#6a59d1;
  --third-color:#777;

  /*=======Hover colors=======*/
  --hover-color:#614fd0;

  /*=======Background colors=======*/
  --body-bg-color:#fefefe;
  --card-bg-color:#fff;
  --modal-bg-color:#fff;
  --bg-transparent-color:rgba(0,0,0,0.1);
  --transparent-color-01:rgba(0,0,0,0.1);
  --transparent-color-02:rgba(106,89,209,0.1);
  --line-color:#d7d7d7;

  /*=======Color Filter=======*/
  --color-filter:invert(1);

  /*=======Box shadow=======*/
  --box-shadow:0px 0px 20px rgba(0 0 0/10%);

  /*=======Font size=======*/
  --small-font-size:0.9em;
  --normal-font-size:1em;

  /*=======Scroll bar colors=======*/
  --scroll-bar-color:#c5cadf;
  --scrol-thumb-color:#70768a;
  --scrol-thumb-hover-color:#454f6b;
}
.dark-theme{
  --first-color: #fff;
  --second-color:#6a59d1;
  --third-color:#a9afc3;

  /*=======Hover colors=======*/
  --hover-color:#614fd0;

  /*=======Background colors=======*/
  --body-bg-color:#0e1b31;
  --card-bg-color:#132347;
  --modal-bg-color:#102048;
  --bg-transparent-color:rgba(255,255,255,0.1);
  --transparent-color-01:rgba(255,255,255,0.1);
  --line-color:#454f6b;

  /*=======Color Filter=======*/
  --color-filter:invert(0);

  /*=======Scroll bar colors=======*/
  --scroll-bar-color:#c1ceff;
  --scrol-thumb-color:#282f4e;
  --scrol-thumb-hover-color:#454f6b;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  color: var(--first-color);
  background: #0e1b31;
  margin: 2em 0 0 0;
  transition: .5s ease;
}

::-webkit-scrollbar{
  width: 10px;
  background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb{
  background: var(--scrol-thumb-color);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover{
  background: var(--scrol-thumb-hover-color);
}
.contact .container .content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-left h2{
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 40px;
}
.contact-list li{
  margin-bottom: 40px;
}
.contact-list li h3{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-list li h3 i{
  color: var(--second-color);
  font-size: 1.3em;
  margin-right: 10px;
}
.contact-list li span{
  color: var(--third-color);
  margin-left: 40px;
}
.contact-list li span a{
  color: var(--third-color);
}
.contact-rigth p{
  color: var(--third-color);
  font-size: 1.6em;
  margin-bottom: 30px;
}
.contact-rigth p span{
  color: var(--first-color);
  font-weight: 700;
}
.contact-form input, .contact-form textarea{
  border: none;
  color: var(--first-color);
  background: var(--transparent-color-02);
  font-size: var(--normal-font-size);
  margin-bottom: 20px;
  padding: 15px 40px 40px 20px ;
  border-radius: 5px;
}
.contact-form textarea{
  width: 100%;
  resize: none;
}
::placeholder{
  color: var(--first-color);
}
.contact-form .first-row input{
  width: 100%;
}
.contact-form .second-row{
  display: flex;
  justify-content: space-between;
}
.contact-form .second-row input{
  width: 48%;
}
.contact-form .btn{
  border: none;
  margin-top: 0;
  border-radius: 5px;
  cursor: pointer;
}
.header{
    background-color: Black;
    width: 10px;
    height: 10px;
    }

.menu{
    flex-grow: 0.93;
    background-color: #FF69B4;
    width: 20px;
    height: 70px;
    }

.contact .container .content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-left h2{
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 40px;
}
.contact-list li{
  margin-bottom: 40px;
}
.contact-list li h3{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-list li h3 i{
  color: var(--second-color);
  font-size: 1.3em;
  margin-right: 10px;
}
.contact-list li span{
  color: var(--third-color);
  margin-left: 40px;
}
.contact-list li span a{
  color: var(--third-color);
}
.contact-rigth p{
  color: var(--third-color);
  font-size: 1.6em;
  margin-bottom: 30px;
}
.contact-rigth p span{
  color: var(--first-color);
  font-weight: 700;
}
.contact-form input, .contact-form textarea{
  border: none;
  color: var(--first-color);
  background: rgba(106,89,209,0.1);
  font-size: 1em;
  margin-bottom: 20px;
  padding: 15px 40px 40px 20px ;
  border-radius: 5px;
}
.contact-form textarea{
  width: 100%;
  resize: none;
}
::placeholder{
  color: var(--first-color);
}
.contact-form .first-row input{
  width: 100%;
}
.contact-form .second-row{
  display: flex;
  justify-content: space-between;
}
.contact-form .second-row input{
  width: 48%;
}
.contact-form .btn{
  border: none;
  margin-top: 0;
  border-radius: 5px;
  cursor: pointer;
}
    body.content1 {
        background-color: #FFB6C1;
        height: 100%;
        width: 100%;
        max-width: 1250px;
        max-height: 150px;
        border: white solid 3px;
        margin: 0 auto;     <---"This is so the wrapper centers itself on your screen"
        background-image: url("pools/img/white.jpg");
}
header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .menu li{
        margin-right: 30px;
        font-family: Garamond;
    }

    .menu ul{
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 20px;
        line-height: 65px;

    }

    .menu a{
        padding: 8px 10px;
        color: black;
        text-decoration: none;
    }
/**
    a.button {
      width: 150px;
      height: 30px;
      text-decoration: none;
      padding-top: 9px;
      color: #a675b3;
      text-align: center;
      line-height: 20px;
      display: block;
      margin: 20px auto;
      font: normal 17px arial;
    }

    a.button:not(.active) {
      box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
      background-image: linear-gradient(#3b2751, #271739);
      text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
    }

    a.button:not(.active):hover,
    a.button:not(.active):focus {
      transition: color 200ms linear, text-shadow 500ms linear;
      color: #fff;
      text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
    }

    a.button:not(:hover) {
        transition: 0.6s;
    }
**/
