<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doll Shop</title>
  <link rel="stylesheet" href="{% static 'pools/css/styles.css' %}">
  <link type="image/png" sizes="32x32" rel="icon" href="{% static 'pools/img/favicon.svg' %}">
  <style>
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .basket-icon {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
  </style>

</head>
<body>
  <header>
    <h1>Welcome to Doll Shop!</h1>
    <nav>
      <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../about/">About Us</a></li>
        <li><a href="../contacts/">Contact</a></li>
        <li><a href="../feedback/">Feedback</a></li>
      </ul>
      <ul>
        <li><a href="../basket/">Basket</a><img class="basket-icon" src="{% static 'pools/img/basket.svg' %}" alt="Basket"></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h2>Find Your Perfect Doll</h2>
    <a href="../" class="cta-button">Shop Now</a>
  </section>

    <section class="featured-dolls">
      <h3>Our feedbacks</h3>
      {% for feedback in feedback %}
          <div class="doll-card" >
              <h4 >{{ feedback.email }}</h4>
              <p style="width: 200px;" >{{ feedback.text }}</p>
          </div>
      {% endfor %}
    </section>

  <footer>
    <p>&copy; 2023 Doll Shop. All rights reserved.</p>
  </footer>
</body>
</html>