<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>

<header>
    <div class="header">
        this is header
    </div>
</header>

<body>
    <div class="content">
        {% block body %}
            <p>smth</p>
        {% endblock %}
    </div>
</body>

<footer>
    <div class="footer">
        <h1>This is footer</h1>
    </div>
</footer>

</html>

<style>
    .header{
        background-color: orchid;
        }

    .footer{
        background-color: orchid;
        }
</style>